{%- assign for_drawer = true -%}

{%- if template == 'cart' or template == 'cart.ajax' -%}
  {%- assign for_drawer = false -%}
{%- endif -%}

<div class="Cart__ItemList">
  {%- unless for_drawer -%}
    <div class="Cart__Head hidden-phone">
      <span class="Cart__HeadItem Heading Text--subdued u-h7">{{ 'cart.items.product' | t }}</span>
      <span class="Cart__HeadItem"></span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: center">{{ 'cart.items.quantity' | t }}</span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: right">{{ 'cart.items.total' | t }}</span>
    </div>
  {%- endunless -%}

  {%- for item in cart.items -%}
    {%- if for_drawer -%}
      <div class="CartItemWrapper">
    {%- endif -%}

    <div class="CartItem" style="{% render "product-personalizer-helper" ,item:item,pplr: "hide-pricing-item-row" %}" {% render "product-personalizer-helper" ,forloop:forloop,item:item,pplr: "cart-row-data" %} >
      <div class="CartItem__ImageWrapper AspectRatio">
        <div class="AspectRatio" style="--aspect-ratio: {{ item.image.aspect_ratio }}">
          <img class="CartItem__Image" src="{% render 'product-personalizer' ,item:item,pplr: 'item-image', item_image_size:'240x' %}" alt="{{ item.image.alt | escape }}">
        </div>
      </div>

      <div class="CartItem__Info">
        <h2 class="CartItem__Title Heading">
          <a href="{{ item.url }}">{{ item.product.title }}</a>
        </h2>

        <div class="CartItem__Meta Heading Text--subdued">
          {%- unless item.product.has_only_default_variant -%}
            <p class="CartItem__Variant">{{ item.variant.title }}</p>
          {%- endunless -%}

          {%- if item.properties != empty -%}
            {% comment %}<ul class="CartItem__PropertyList">
              {%- for property in item.properties -%}
                {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

                {%- if property.last == blank or first_character_in_key == '_' -%}
                  {%- continue -%}
                {%- endif -%}

                <li class="CartItem__Property">{{ property.first }}: {{ property.last }}</li>
              {%- endfor -%}
            </ul>{% endcomment %}{% render "product-personalizer-helper" ,item:item %}
          {%- endif -%}

          <div class="CartItem__PriceList">
            {%- if item.original_price != item.final_price -%}
              <span class="CartItem__Price Price Price--highlight">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
              <span class="CartItem__OriginalPrice Price Price--compareAt">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
            {%- else -%}
              <span class="CartItem__Price Price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-price', items: cart.items %}</span>
            {%- endif -%}

            {%- if item.line_level_discount_allocations != blank -%}
              <ul class="CartItem__DiscountList">
                {%- for discount_allocation in item.line_level_discount_allocations -%}
                  <li class="CartItem__Discount">
                    {%- render 'icon' with 'sale' -%}{{ discount_allocation.discount_application.title }}: -{{ discount_allocation.amount | money }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>

        {%- capture item_actions -%}
          <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
            <div class="CartItem__QuantitySelector">
              <div class="QuantitySelector">
                {%- assign quantity_minus_one = item.quantity | minus: 1 -%}

                <a class="QuantitySelector__Button Link Link--primary" title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_minus_one }}" href="{{ routes.cart_change_url }}?quantity={{ quantity_minus_one }}&id={{ item.key }}" data-quantity="{{ quantity_minus_one }}" data-line-id="{{ item.key }}" data-action="update-item-quantity">
                  {%- render 'icon' with 'minus' -%}
                </a>

                <input type="text" name="updates[]" id="updates_{{ item.key }}" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="{{ item.key }}" value="{{ item.quantity }}">

                {%- assign quantity_plus_one = item.quantity | plus: 1 -%}

                <a class="QuantitySelector__Button Link Link--primary" title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_plus_one }}" href="{{ routes.cart_change_url }}?quantity={{ quantity_plus_one }}&id={{ item.key }}" data-quantity="{{ quantity_plus_one }}" data-line-id="{{ item.key }}" data-action="update-item-quantity">
                  {%- render 'icon' with 'plus' -%}
                </a>
              </div>
            </div>

            <a href="{% render 'product-personalizer-helper' ,item:item,pplr: 'remove-from-cart-href' ,forloop:forloop %}" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="{{ item.key }}" data-action="remove-item">{{ 'cart.items.remove' | t }}</a>
          </div>
        {%- endcapture -%}

        {{ item_actions }}
      </div>

      {%- unless for_drawer -%}
        {{ item_actions }}

        <div class="CartItem__LinePriceList Heading Text--subdued" style="text-align: right">
          {%- if item.original_line_price != item.final_line_price -%}
            <span class="CartItem__Price Price Price--highlight">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-line-price', items: cart.items %}</span>
            <span class="CartItem__Price Price Price--compareAt">{{ item.original_line_price | money_without_trailing_zeros }}</span>
          {%- else -%}
            <span class="CartItem__Price Price">{% render 'product-personalizer-helper' ,item:item,pplr: 'item-line-price', items: cart.items %}</span>
          {%- endif -%}
        </div>
      {%- endunless -%}
    </div>

    {%- if for_drawer -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>{% render "product-personalizer-helper" ,item:item,pplr: "product-personalizer-script" %}