<!-- PRODUCT TEMPLATE SHINEON 0.5.1 -->
<!-- DO NOT MODIFY THIS FILE -->

{% comment %}
Regular delivery info
{% endcomment %}
{% assign tag_delayed = false %}
{% assign copy_delivery_details = section.settings.copy_delivery_details %}
{% for tag in product.tags %}
  {% if tag == section.settings.tag_switch_delayed %}
    {% comment %}
    DELAYED tag switch
    {% endcomment %}
    {% assign tag_delayed = true %}
    {% assign copy_delivery_details = section.settings.copy_delivery_details_delayed %}
  {% endif %}
{% endfor %}

{% assign so_current_variant = product.selected_or_first_available_variant %}
{% assign product_form_id = 'so-product-form-' | append: section.id | append: '-' | append: product.id %}

{% assign no_image_url = 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_1024x1024@2x.gif' %}

{% assign has_engraving = false %}
{% assign has_silver_variants = false %}
{% assign has_gold_variants = false %}
{% assign has_multiple_metals = true %}
{% assign is_wooden_box = false %}

{% assign add_upsell_modal = false %}

{% if product.metafields.shineon.uploadable != 1 %}
{% comment %} GET ENGRAVED AND GOLD FEATURE IMAGES {% endcomment %}
{% for variant in product.variants %}
  {% if variant.title contains '18' %}
    {% if variant.metafields.shineon.ipcs contains 'TG' %}
      {% assign add_upsell_modal = variant %}
    {% endif %}
  {% endif %}
  {% if variant.metafields.shineon.engravable == 0 or variant.metafields.shineon.ipcs contains 'TG' %}
    {% if variant.metafields.shineon.gold == 1 or variant.title contains '18' and product.variants.size > 1 %}
      {% assign add_upsell_modal = variant %}
    {% endif %}
  {% endif %}
  {% if variant.metafields.shineon.metal == 'other' %}
    {% unless variant.title contains '18' %}
      {% assign regular_variant_id = variant.id %}
    {% endunless %}
  {% else %}
    {% if variant.metafields.shineon.gold != 1 %}
      {% assign regular_variant_id = variant.id %}
    {% endif %}
  {% endif %}
{% endfor %}
{% endif %}

{% assign engraving_option = 'Not Found' %}
{% for option in product.options_with_values %}
  {% if option.name == 'Engraving' %}
    {% assign has_engraving = true %}
  {% assign engraving_option_index = forloop.index | minus: 1 %}
    {% assign engraving_option = 'option' | append: forloop.index  %}
  {% endif %}
{% endfor %}

{% if template contains 'shineon-e-and-g-upsell' %}
  {% assign is_template_optimized = true %}
{% else %}
  {% assign is_template_optimized = false %}
{% endif %}

{% if is_template_optimized == true %}
  {% assign engraving_upsell_price = 0 %}
  {% assign gold_upsell_price = 0 %}
{% endif %}

{% assign engraving_option_yes = 'Yes' %}
{% assign engraving_option_no = 'No' %}

{% assign option1_list = "" | split: '--empty-array--' %}
{% assign option2_list = "" | split: '--empty-array--' %}
{% assign option3_list = "" | split: '--empty-array--' %}

{% assign hidden_variants = "" | split: '--empty-array--' %}
{% assign hidden_images = "" | split: '--empty-array--' %}
{% if section.settings.option1_selection == 'hidden'
    and so_current_variant.metafields.shineon.type != Nil
    and so_current_variant.metafields.shineon.size_option != 1 %}
  {% assign one_style = 1 %}
{% else %}
  {% assign one_style = 0 %}
{% endif %}

{% if is_template_optimized == true %}
  {% assign base_variant = false %}
{% endif %}

{% assign metals = "" | split: '--empty-array--' %}

{% for variant in product.variants %}
  {% if one_style == 1 and product.variants.size >= 8 and variant.metafields.shineon.type != so_current_variant.metafields.shineon.type %}
    {% assign variant_id_arr = variant.id | split: '--array-of-one--' %}
    {% assign variant_image_id_arr = variant.image.id | split: '--array-of-one--' %}
    {% assign hidden_variants = hidden_variants | concat: variant_id_arr %}
    {% assign hidden_images = hidden_images | concat: variant_image_id_arr %}
  {% endif %}

  {% if has_engraving %}
    {% if variant.metafields.shineon.engravable != nil %}
      {% if variant.metafields.shineon.engravable == 1 %}
        {% assign engraving_option_yes = variant[engraving_option] %}
      {% elsif variant.metafields.shineon.engravable == 0 %}
        {% assign engraving_option_no = variant[engraving_option] %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% assign variant_ipcs = variant.metafields.shineon.ipcs | downcase %}
  {% assign variant_title = variant.title | downcase %}
  {% if variant_ipcs contains 'wood' or variant_title contains 'wooden' %}
    {% assign add_upsell_modal = variant %}
    {% assign is_wooden_box = true %}
    {% assign wooden_box_img = variant.image %}
    {% assign wooden_box_variant_id = variant.id %}
  {% else %}
    {% if variant.metafields.shineon.metal == 'other' %}
      {% unless variant.title contains '18' %}
        {% assign regular_variant_id = variant.id %}
      {% endunless %}
    {% else %}
      {% if variant.metafields.shineon.gold != 1 %}
        {% assign regular_variant_id = variant.id %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if base_variant == false or base_variant.price > variant.price and is_template_optimized == true %}
    {% assign base_variant = variant %}
  {% endif %}

  {% if variant.metafields.shineon.gold == 1 %}
    {% assign has_gold_variants = true %}
  {% endif %}

  {% unless variant.metafields.shineon.gold == 1 %}
    {% assign has_silver_variants = true %}
  {% endunless %}

  {% if variant.metafields.shineon.gold != nil %}
    {% assign metal = variant.metafields.shineon.gold | split: '--array-of-one--' %}
  {% else %}
    {% assign metal = "" | split: '--empty-array--' %}
  {% endif %}
  {% assign metals = metals | concat: metal %}
  {% assign variant_option1_arr = variant.option1 | split: '--array-of-one--' %}
  {% assign option1_list = option1_list | concat: variant_option1_arr %}
  {% assign variant_option2_arr = variant.option2 | split: '--array-of-one--' %}
  {% assign option2_list = option2_list | concat: variant_option2_arr %}
  {% assign variant_option3_arr = variant.option3 | split: '--array-of-one--' %}
  {% assign option3_list = option3_list | concat: variant_option3_arr %}

{% endfor %}
{% assign hidden_variants_str = hidden_variants | join: ' ' %}

{% assign metals = metals | uniq %}
{% assign option1_list = option1_list | uniq %}
{% assign option2_list = option2_list | uniq %}
{% assign option3_list = option3_list | uniq %}

{% if metals.size > 1 %}
  {% assign has_multiple_metals = true %}
{% else %}
  {% assign has_multiple_metals = false %}
{% endif %}

{% if is_template_optimized == true and has_engraving == true %}
  {% comment %} DETERMINE ENGRAVING AND GOLD UP SELL PRICES {% endcomment %}
  {% for variant in product.variants %}
    {% if has_multiple_metals %}
      {% if base_variant.option1 != variant.option1 and base_variant.option2 == variant.option2 and base_variant.option3 == variant.option3 %}
        {% assign gold_upsell_price = variant.price | minus:base_variant.price | abs %}
      {% endif %}
    {% endif %}

    {% if base_variant.option1 == variant.option1 and base_variant.option2 != variant.option2 and base_variant.option3 == variant.option3 %}
      {% assign engraving_upsell_price = variant.price | minus:base_variant.price | abs %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if section.settings.express_checkout == true %}
    {% assign use_shineon_cart = true %}
{% elsif product.metafields.shineon.uploadable == 1 and section.settings.use_shineon_cart_page_bu == true %}
    {% assign use_shineon_cart = true %}
{% elsif section.settings.use_shineon_cart_page_eng == true %}
    {% assign use_shineon_cart = true %}
{% else %}
    {% assign use_shineon_cart = false %}
{% endif %}

{% assign hide_tabs_if_left_side_or_hidden = false %}
{% assign show_tabs_if_right_side = false %}
{% if section.settings.show_about_us_review_list != true %}
  {% if section.settings.content_disposition == 'left_side' or section.settings.content_disposition == 'hidden' %}
    {% assign hide_tabs_if_left_side_or_hidden = true %}
  {% endif %}

  {% if section.settings.content_disposition == 'right_side_expanded' or section.settings.content_disposition == 'right_side_collapsed' %}
    {% assign show_tabs_if_right_side = true %}
  {% endif %}
{% endif %}

{% include 'product-shineon-custom-styles' %}

{% if product.metafields.shineon.uploadable == 1 %}
  {% include 'product-shineon-scripts' with 'nav-progress-steps' %}
  {% include 'product-shineon-scripts' with 'default-images' %}
{% endif %}

{% assign is_template_fit = true %}
{% if is_template_optimized == true %}
<div class="so-container">
  {% comment %}SANITY CHECK FOR CORRECT PRODUCT USAGE{% endcomment %}
  {% if has_engraving == false and is_ring != true %}
    {% assign is_template_fit = false %}
    <h3>Product Page Not Compatible</h3>
    <p>
      This theme template (template suffix) is intended for select ShineOn
      products with gold and engraving upsells.
      <br />
      <br />
      If you believe you are receiving this message in error, please visit
      your product in the ShineOn app and metafields will be synchronized again.
    </p>
  {% elsif product.metafields.shineon.uploadable == 1 %}
    <h3>Product Page Not Compatible</h3>
    <p>This product page does not yet support buyer upload, please use the `shineon` template suffix for now.</p>
  {% endif %}
</div>
{% endif %}

{% assign prod_id = '' %}
{% for tag in product.tags %}
  {% if tag contains 'PROD-' %}
    {% assign prod_id = tag | replace: 'PROD-', 'Product ID: #' %}
  {% endif %}
{% endfor %}

{% if product.metafields.shineon.displayed_coupon %}

  {% assign coupon = product.metafields.shineon.displayed_coupon %}

  {% assign allow_show = false %}
  {% if shop.metafields.shineon.discounts[coupon.code] %}
      {% assign ends_at = shop.metafields.shineon.discounts[coupon.code].ends_at %}
      {% if ends_at == nil %}
          {% assign allow_show = true %}
      {% else %}
          {% assign ends_at = ends_at | date: '%s' %}
          {% assign now = 'now' | date: '%s' %}
          {% if ends_at > now %}
              {% assign allow_show = true %}
          {% endif %}
      {% endif %}
  {% endif %}
{% endif %}


{% if is_template_fit == true %}

  {% assign copy_delivery_details = copy_delivery_details | replace: '[usa_delivery_info]', section.settings.usa_copy_delivery_details | replace: '[canada_delivery_info]', section.settings.canada_copy_delivery_details | replace: '[eu_delivery_info]', section.settings.eu_copy_delivery_details | replace: '[international_delivery_info]', section.settings.international_copy_delivery_details %}

  <div class="sopp-body{% if product.metafields.shineon.uploadable == 1 %} so-bu-step1{% endif %}{% if is_template_optimized == true %} product-template-shineon-e-and-g-upsell__container{% else %} product-template-shineon__container{% endif %}"
     itemscope
     itemtype="http://schema.org/Product"
     id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}"
     data-section-type="product"
     data-enable-history-state="true">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <meta itemprop="brand" content="ShineOn Jewelry">

    <div class="so-container so-product-wrap{% if product.metafields.shineon.uploadable == 1 %} so-bu-product-wrap{% endif %} {{ section.settings.css_container_class }}"
        data-product_id="{{ product.id }}"
        style="margin: {{ section.settings.container_margin_top }}">

        <div id="so-options-form" class="so-product so-row">
          {% if section.settings.banner_top %}
            <div class="so-col-12 so-banner-top">
              <img src="{{ section.settings.banner_top | img_url: 'master' }}"
                   class="so-img-responsive"
                   style="max-width: {{ section.settings.banner_top_max_width }}px;" />
            </div>
          {% endif %}
          <div class="so-col-7 so-product-left">

            {% include 'badges-shineon' with 'product-badges' %}

            {% include 'product-shineon-image-slider' with product
                and one_style
                and hidden_variants
                and hidden_images %}

            {% assign badge_uploaded = false %}
            {% if section.settings.badge_img_1 != null or section.settings.badge_img_2 != null or section.settings.badge_img_3 != null or section.settings.badge_img_4 != null or section.settings.badge_img_5 != null or section.settings.badge_img_6 != null %}
            {% assign badge_uploaded = true %}
            {% assign badge_counter = 0 %}
            {% else %}
            {% assign badge_counter = 5 %}
            {% endif %}

            {% if section.settings.badge_img_1 != null and section.settings.badge_img_1 != '' %}
              {% assign badge_counter = badge_counter | plus: 1 %}
            {% endif %}
            {% if section.settings.badge_img_2 != null and section.settings.badge_img_2 != '' %}
            {% assign badge_counter = badge_counter | plus: 1 %}
            {% endif %}
            {% if section.settings.badge_img_3 != null and section.settings.badge_img_3 != '' %}
            {% assign badge_counter = badge_counter | plus: 1 %}
            {% endif %}
            {% if section.settings.badge_img_4 != null and section.settings.badge_img_4 != '' %}
            {% assign badge_counter = badge_counter | plus: 1 %}
            {% endif %}
            {% if section.settings.badge_img_5 != null and section.settings.badge_img_5 != '' %}
            {% assign badge_counter = badge_counter | plus: 1 %}
            {% endif %}
            {% if section.settings.badge_img_6 != null and section.settings.badge_img_6 != '' %}
            {% assign badge_counter = badge_counter | plus: 1 %}
            {% endif %}

            {% if section.settings.show_badges_as_section != false and badge_counter > 0 and section.settings.show_about_us_review_list != true and section.settings.trust_section_type == 'badges' %}
            <div class="badges hidden-sm-down">
              <section class="section-badges">
                <div class="section-header">
                  <h3 class="header text-center">{{ section.settings.badges_title | replace: '[reason_counter]', badge_counter }}</h3>
                </div>

                <div class="content">
                  {% include 'badges-shineon' with 'callout-shop-badges' %}
                </div>
              </section>
            </div>
            {% endif %}

            {% if section.settings.show_about_us_review_list != true %}
              {% if section.settings.content_disposition == 'left_side' %}
                <div class="so-product-content so-visible-md">
                    {{ product.content }}
                </div>

                {{ section.settings.snippet_below_description }}
              {% endif %}
            {% endif %}

            {% unless section.settings.content_left == '' %}
              <div class="so-additional-content so-additional-content-left">
                {{ section.settings.content_left }}
              </div>
            {% endunless %}
          </div>
          <div class="so-col-5 so-product-right">
            {% if is_template_optimized == true %}
            {% include 'product-shineon-form-e-and-g-upsell' with product
                  and base_variant
                  and has_engraving
                  and has_gold_variants
                  and has_multiple_metals
                  and has_silver_variants
                  and hidden_images
                  and hidden_variants
                  and metals
                  and one_style
                  and option1_list
                  and option2_list
                  and option3_list %}
                {% unless section.settings.content_right == '' %}
                  <div class="so-additional-content so-additional-content-right">
                    {{ section.settings.content_right }}
                  </div>
                {% endunless %}
            {% else %}
              {% if add_upsell_modal != false or product.metafields.shineon.uploadable == 1 and has_engraving == true %}
                {% include 'product-shineon-form-upsell-popup' %}
              {% else %}
                {% include 'product-shineon-form' with product
                      and one_style
                      and hidden_variants
                      and hidden_images
                      and has_engraving
                      and has_gold_variants
                      and has_silver_variants
                      and has_multiple_metals
                      and option1_list
                      and option2_list
                      and option3_list %}
                      {% unless section.settings.content_right == '' %}
                        <div class="so-additional-content so-additional-content-right">
                          {{ section.settings.content_right }}
                        </div>
                      {% endunless %}
              {% endif %}
            {% endif %}

            {% if section.settings.show_badges_as_section != false and badge_counter > 0 and section.settings.show_about_us_review_list != true and section.settings.trust_section_type == 'badges' %}
            <div class="badges hidden-sm-up">
              <section class="section-badges">
                <div class="section-header">
                  <h3 class="header text-center">{{ section.settings.badges_title | replace: '[reason_counter]', badge_counter }}</h3>
                </div>

                <div class="content">
                  {% include 'badges-shineon' with 'callout-shop-badges' %}
                </div>
              </section>
            </div>
            {% endif %}

          </div>
        </div>

        {% if shop.permanent_domain == 'shineon-platform.myshopify.com' %}
          {% if settings.phone_number != '' %}
          <div class="so-visible-sm">
            {% include 'phone-number' %}
          </div>
          {% endif %}
        {% endif %}

        {% if section.settings.show_about_us_review_list == true %}
        <div class="custom-desk-wrp">
          <div class="so-row">
            <div class="so-col-7">
              {% include 'product-info-shineon' with 'reviews' %}
            </div>
            <div class="so-col-5{% if section.settings.product_info_disposition == 'tabs' %} so-tabs-wrapper{% else %} description-delivery-combined{% endif %}">
              {% if section.settings.product_info_disposition == 'tabs' %}
                {% include 'product-info-shineon' with 'description-delivery-tabs' %}
              {% else %}
                {% include 'product-info-shineon' with 'description-delivery-combined' %}
              {% endif %}
            </div>
          </div>
        </div>

        {% else %}

          {% if shop.permanent_domain == 'shineon-platform.myshopify.com' %}
            <div id="looxReviews" data-product-id="{{product.id}}" data-tags="{{ product.tags | where : 'lx-' | join: ',' }}"></div>
          {% else %}
            <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
          {% endif %}

        {% endif %}

    </div>
  </div>

  {% if product.metafields.shineon.uploadable == 1 %}
      {% include 'product-shineon-scripts' with 'buyer-upload-scripts' %}
  {% endif %}

  {% if product.metafields.shineon.uploadable == 1 %}
      {% include 'product-shineon-scripts' with 'buyer-upload-styles' %}
  {% endif %}

  <style>
    #shopify-section-{{ section.id }} {
      line-height: 1.5;
      {% if section.settings.page_bg != '' and section.settings.page_bg != null %}
      background-color: {{ section.settings.page_bg }};
      {% endif %}
    }
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }} {
        padding-top: 20px;
      }
    }
    .so-price-label,
    .so-compare-at-label-wrap,
    .product__price .price-save strong,
    .so-product .so-btn-add-to-cart-wrap > button,
    .product__price .price__regular dd,
    .product__price .so-price-label,
    .product__price .so-compare-at-label-wrap,
    .so-modal .so-modal-header .so-modal-title-compare-at-pricing-wrap,
    .so-modal-btn-add-to-cart {
      font-family: "Avenir Next", "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    {% assign show_dots = section.settings.image_dots_devices %}
    {% case show_dots %}
      {% when 'mobile' %}
      @media(min-width: 992px) {
        .so_slick-dotted.so_slick-slider {
          margin-bottom: 0;
        }
        .so_slick-dots {
          display:none !important;
          height: 0;
        }
      }
      {% when 'desktop' %}
      @media(max-width: 991px) {
        .so_slick-dotted.so_slick-slider {
          margin-bottom: 0;
        }
        .so_slick-dots {
          display:none !important;
          height: 0;
        }
      }
    {% endcase %}

    .so-product-left {
      margin-top: 0 !important;
    }
    .so-product-top-info {
      margin: 0 2% 20px;
    }

    .so-product .so-product-title h1,
    .so-product .so-field-dropdown-w .single-option-selector,
    .so-product .so-field-wrap .so-option-label,
    .so-product .so-field-wrap .so-option-fieldset label.so-swatch span,
    .so-product ul.so-tabs-product li
    .so-modal.so-modal-e-and-g-upsell .so-modal-header .so-modal-product-title,
    .so-modal.so-modal-e-and-g-upsell .so-modal-body .header .so-modal-callout-primary,
    .so-modal.so-modal-e-and-g-upsell .so-modal-body .so-modal-callout-engraving-primary,
    .so-modal.so-modal-e-and-g-upsell .so-modal-body .so-modal-callout-gold-primary,
    .section-badges .section-header .header,
    .product-page-text h3,
    .so-modal-upsells .so-modal-upsell-item .inner .item-heading .main-text,
    .so-modal-upsells .so-modal-upsell-item .inner .item-heading .product-offer,
    .heading-cta p {
      font-family: Avenir, sans-serif;
    }

    .so-product .so-product-title span {
      font-style: italic;
      font-size: 12px;
      color: #a9a9a9;
    }

    .so-product .so-product-title h1 {
      font-weight: bold;/*hard*/
      font-size: 15px !important;/*hard*/
      color: {{ section.settings.product_title_color }};
    }
    @media(max-width: 991px) {
      .so-product .so-product-title h1 {
        margin-bottom: 15px;
      }
    }
    @media(min-width: 992px) {
      .so-product .so-product-title h1 {
        font-size: {{ section.settings.product_title_size }}px !important;
        font-weight: {{ section.settings.product_title_font_style }};
      }
    }
    @media(max-width: 991px) {
      .so-product .so-product-title h1 {
        padding-bottom: 7px;
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
      }
    }
    .product__price .price__regular, .product__price .so-price-label {
      color: {{ section.settings.product_price_color }};
      font-family: {{ price_font.family }}, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: {{ section.settings.variant_price_size }}px;
      font-weight: {{ section.settings.product_price_font_style }};
    }
    #so-compare-at-label-wrap, .so-compare-at-label-wrap {
      color: {{ section.settings.product_c_price_color }};
      font-size: {{ section.settings.product_c_price_font_size }};
      font-weight: {{ section.settings.product_c_price_font_style }};
    }
    .product__price .price-save {
      color: {{ section.settings.product_price_save }};
      font-size: {{ section.settings.product_price_save_size }};
    }
    #so-product-payment-and-description {
      margin-top: 30px;
    }
    ul.so-tabs-product {
      font-size: {{ section.settings.product_tabs_font_size }};
    }
    {% if section.settings.is_bordered == true %}
    .product-additions li {
      border-width: {{ section.settings.product_addition_border_width }};
      border-color: {{ section.settings.product_addition_border_color }};
      border-style: solid;
    }
    {% endif %}
    .so-btn-add-to-cart-wrap.fixed {
      background-color: #ffffff;
    }
    .so-btn-add-to-cart-wrap.fixed .so-payment-options {
      display: none;
    }
    .so-modal-btn-add-to-cart,
    .so-product .so-btn-add-to-cart-wrap>button,
    .so-form-btn-cta-main {
      background-color: {{ section.settings.add_to_cart_bg_color }};
      border: 1px solid {{ section.settings.add_to_cart_bg_color }};
      font-weight: {{ section.settings.add_to_cart_font_style }};
    }
    .so-modal-btn-add-to-cart .so-modal-btn-add-to-cart-copy,
    .so-product .so-btn-add-to-cart-wrap>button .so-btn-add-to-cart-vanity-copy,
    .so-form-btn-cta-main {
      color: {{ section.settings.add_to_cart_fg_color }};
      line-height: 22px;
    }
    .so-modal-btn-add-to-cart .so-icon-fa-shopping-cart svg,
    .so-product .so-btn-add-to-cart-wrap>button .so-icon-fa-shopping-cart svg {
      fill: {{ section.settings.add_to_cart_fg_color }};
    }
    .so-modal-btn-add-to-cart:hover,
    .so-product .so-btn-add-to-cart-wrap > button:hover,
    .so-form-btn-cta-main:hover {
      background-color: {{ section.settings.add_to_cart_bg_color | color_lighten: 5 }};
      color: {{ section.settings.add_to_cart_fg_color }};
    }
    {% if section.settings.add_to_cart_shadow == true %}
    {% assign add_to_cart_shadow_color = section.settings.add_to_cart_bg_color | color_darken: 12 %}
    {% assign add_to_cart_border_color = section.settings.add_to_cart_bg_color | color_darken: 20 %}
    .so-modal-btn-add-to-cart,
    .so-btn-add-to-cart,
    .so-form-btn-cta-main {
      box-shadow: 3px 5px 0 {{ add_to_cart_shadow_color }};
      border-bottom: 1px solid {{ section.settings.add_to_cart_bg_color | color_darken: 20 }} !important;
    }
    @media(min-width: 992px) {
      .so-modal-btn-add-to-cart,
      .so-form-btn-cta-main,
      .so-btn-add-to-cart {
        box-shadow: 4px 6px 0 {{ add_to_cart_shadow_color }};
      }
    }
    {% if product.metafields.shineon.uploadable == 1 %}
    {% assign add_to_cart_shadow_color = section.settings.upload_button_bg_color | color_darken: 12 %}
    {% assign add_to_cart_border_color = section.settings.upload_button_bg_color | color_darken: 20 %}
    {% endif %}
    body.so-step-1 #so-bu-upload-button {
      box-shadow: 3px 5px 0 {{ add_to_cart_shadow_color }};
      border-bottom: 1px solid {{ add_to_cart_border_color }} !important;
    }
    {% endif %}
    .product-informations-alert {
      background: {{ section.settings.informations_alert_highlighted_bg }};
    }
    .product-informations-alert,
    .product-informations-alert p {
      margin-bottom: 0;
      color: {{ section.settings.informations_alert_highlighted_color }};
    }
    .text-info-alert {
      margin: 20px 15px 0;
      border: 1px solid;
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      color: {{ section.settings.text_alert_highlighted_color }};
      background: {{ section.settings.text_alert_highlighted_bg }};
    }
    .text-info-alert p {
      margin-bottom: 0;
    }

    {% assign color_badges_bg = '#fff' %}
    {% assign color_badges_text = '#fff' %}
    {% if section.settings.color_badges_bg != "" and section.settings.color_badges_bg != null %}
      {% assign color_badges_bg = section.settings.color_badges_bg %}
      {% assign color_badges_text = section.settings.color_badges_text %}
    {% endif %}
    @media(min-width: 768px) {
      .product-tags {
        margin-bottom: 10px !important;
      }
    }
    @media(max-width: 767px) {
      .product-tags {
        margin-top: 10px !important;
        position: absolute;
        z-index: 1;
        top: -20px;
        left: 40px;
      }
    }
    .so-product .product-tags .tag {
      background-color: {{ color_badges_bg }};
      font-size: 15px;
    }
    .so-product .product-tags .tag {
      position: relative;
      color: {{ color_badges_text }};
      border-color: {{ color_badges_text }};
    }
    .so-product .product-tags .tag:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 8px 0 0;
      border-color: {{ color_badges_text }} transparent transparent transparent;
      bottom: -7px;
      left: -1px;
    }
    .so-product .product-tags .tag svg {
      fill: {{ color_badges_text }};
      display: none;
    }
    .so-product .product-tags .tag.color-reverse {
      border-color: {{ color_badges_bg }};
      background-color: {{ color_badges_text }};
    }
    .so-product .product-tags .tag.color-reverse:after {
      border-color: {{ color_badges_bg }} transparent transparent transparent;
    }
    .so-product .product-tags .tag.color-reverse span {
      color: {{ color_badges_bg }};
    }
    .so-product .product-tags .tag.color-reverse svg {
      fill: {{ color_badges_bg }};
    }
    .so-product .product-additions li .content svg.icon-timeglass {
      fill: {{ color_badges_text }};
    }
    .so-modal.so-modal-e-and-g-upsell .so-modal-body .so-engraving-input {
      border-color: {{ color_badges_text }};
      margin-bottom: 0 !important;
    }
    .so-modal.so-modal-e-and-g-upsell .so-modal-body .so-modal-metal-wrap .so-modal-metal-label .checkbox-checked {
      border-color: {{ color_badges_text }};
    }
    @media(min-width: 768px) {
      .so-bu-supplemental-content {
        margin-bottom: 40px;
      }
    }
    .custom-reviews-wrp {
      background: #fff;
      margin: 0 -15px 30px;
      padding: 1px 22px;
    }
    @media(min-width: 768px) {
      .custom-reviews-wrp:not(.loox-reviews) #looxReviews {
        margin-top: 15px;
      }
      .custom-reviews-inner {
        padding-bottom: 10px;
      }
    }
    .custom-reviews-wrp h3 {
      font-family: Raleway,sans-serif;
      font-style: normal;
      font-weight: normal;
      text-transform: initial;
      color: #1A2A47;
      margin: 50px 0 0;
      letter-spacing: 0.1rem;
      font-size: 22px;
    }
    @media(max-width: 767px) {
      .custom-reviews-wrp h3 {
        display: none;
      }
    }
    .custom-reviews-wrp:not(.loox-reviews) h3 {
      margin-bottom: 29px;
    }
    .custom-reviews-tile .stars-rating {
      display: flex;
    }
    .custom-reviews-tile .stars-rating svg {
      width: 20px;
      height: 20px;
      margin-right: 2px;
      fill: {{ section.settings.reviews_stars_color }};
    }
    .custom-reviews-tile img {
      max-width: 115px;
      display: block;
    }
    .custom-reviews-tile h4 {
      border: 0;
      margin: 0;
      font-family: Raleway,sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 39px;
      color: #1A2A47;
    }
    .custom-reviews-tile p {
      font-family: Raleway,sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #1A2A47;
      margin: 0;
    }
    .custom-reviews-tile {
      margin-bottom: 30px;
    }
    .custom-read-less {
      display: none !important;
    }
    .custom-blank-ele+.custom-blank-ele {
      display: none;
    }
    .custom-review-toggle~.custom-reviews-tile {
      display: none;
    }
    .custom-review-toggle i {
      font-style: normal;
      margin-left: 10px;
    }
    .custom-review-toggle span {
      display: inline-block;
      cursor: pointer;
    }
    .custom-review-toggle.custom-all-review .custom-read-more {
      display: none;
    }
    .custom-review-toggle.custom-all-review~.custom-reviews-tile {
      display: block;
    }
    .trustpilot-widget {
      display: none;
    }
    body ul.so-tabs-product li:nth-child(1) i {
      font-style: normal;
    }
    body ul.so-tabs-product li {
      width: 33.33%;
      margin: 0 -2px;
      line-height: normal;
      border: none !important;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }
    body ul.so-tabs-product li a {
      font-family: Raleway,sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #1B2B48 !important;
      text-transform: none;
      border-radius: 100px;
      padding: 12px 10px;
      display: block;
      letter-spacing: 0;
    }
    body ul.so-tabs-product li.so-active a {
      background: #E8EEF4;
    }
    body ul.so-tabs-product {
      padding-bottom: 25px;
    }
    body ul.so-tabs-content div[itemprop="description"] h2 {
      margin-top: 0;
    }
    body ul.so-tabs-content .section-header h3 {
      margin-top: 0;
    }
    .custom-desk-wrp ul.so-tabs-product li a:focus {
      opacity: 1;
    }
    @media(max-width: 767px) {
    .custom-desk-wrp .so-row {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    @media(min-width: 768px) {
      .custom-desk-wrp .so-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      body ul.so-tabs-product li a svg {
        display: block;
        margin: auto;
        margin-bottom: 15px;
        height: 45px;
      }
      ul.so-tabs-content.so-tabs-content-product {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
      }
      .custom-desk-wrp .so-row>div.so-tabs-wrapper,
      .custom-desk-wrp .so-row>div.so-tabs-wrapper li.so-active a {
        background: #f9fafb;
      }
      .custom-desk-wrp .so-row>div.so-col-5 {
        width: 45%;
        float: right;
      }
      .custom-desk-wrp .so-row>div.description-delivery-combined {
        padding-left: 50px;
        padding-right: 50px;
      }
      .custom-desk-wrp .so-row>div.so-col-7 {
        width: 55%;
      }
      body ul.so-tabs-product {
        background: #fff;
        padding-bottom: 0;
        margin-bottom: 30px;
        display: flex;
      }
      body ul.so-tabs-product li {
        margin: 0;
      }
      body ul.so-tabs-product li a {
        border-radius: 0;
        padding-top: 45px;
        padding-bottom: 45px;
        font-size: 14px;
        height: 100%;
      }
      .custom-desk-wrp {
        box-shadow: 0px 6px 12px rgba(219, 229, 238, 0.8);
      }
      .custom-reviews-wrp {
        margin: 0;
        height: 100%;
      }
      .custom-desk-wrp .so-row>div {
        float: left;
        margin: 0;
        min-height: 0.125rem;
      }
    }
    .custom-desk-wrp .description-delivery-combined {
      padding-bottom: 30px;
    }
    @media(min-width: 768px) {
      .custom-desk-wrp .description-delivery-combined {
        padding-top: 50px;
      }
    }
    @media(max-width: 767px) {
      .custom-desk-wrp .description-delivery-combined {
        padding: 0 12px;
      }
    }
    .so-tabs-right-side ul.so-tabs-product li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .so-tabs-right-side ul.so-tabs-product li a svg {
      display: none;
    }
    .so-tabs-right-side ul.so-tabs-content-product {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media(min-width: 992px) {
      .custom-reviews-wrp:not(.loox-reviews) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    @media(max-width: 767px) {
      body ul.so-tabs-product li a svg {
        display: none;
      }
    }
  </style>

  <style>
    .so-product .so-label-cell-pad.so-active,
    .so-product .so-label-cell-pad.so-active-metal,
    .so-product .so-variant-change.so-active label.so-swatch,
    .so-product .so-variant-change-metal:not(.so-heart-metal).so-active-metal label.so-swatch,
    .so-product input.so-engraving-active,
    .so-product select.so-variant-selector,
    .so-product select.so-active{
      border: 1px solid {{ section.settings.option_border_color }} !important;
    }
    .so-custom-field-wrap input[type="text"]:focus,
    .so-engraving-input-wrap input[type="text"]:focus {
      border-color: {{ section.settings.add_to_cart_bg_color }} !important;
    }
    .so-custom-field-wrap input[type="text"].with-space {
      font-size: 0 !important;
      position: relative;
      min-height: 45px;
    }
    .so-product .so-label-cell-pad {
      border: 1px solid transparent;
    }
    .so-product .so-label-cell-pad label.so-swatch,
    .so-product .so-variant-change label.so-swatch,
    .so-product .so-variant-change-metal label.so-swatch,
    .so-product .so-label-cell-pad.so-active,
    .so-product .so-label-cell-pad.so-active-metal,
    .so-product .so-variant-change.so-active label.so-swatch,
    .so-product .so-variant-change-metal.so-active-metal label.so-swatch,
    .so-product input.so-engraving-active,
    .so-product select.so-variant-selector,
    .so-product select.so-active{
      border-radius: {{ section.settings.option_border_radius }}px;
    }
    {% if section.settings.option_border_radius > 1 %}
    .so-product .so-variant-change.so-active label.so-swatch,
    .so-product .so-variant-change-metal.so-active-metal label.so-swatch {
      border-radius: {{ section.settings.option_border_radius | minus: 1 }}px;
    }
    {% endif %}
    .so-modal-btn-add-to-cart .so-modal-btn-add-to-cart-copy svg,
    .so-btn-add-to-cart-wrap .so-btn-add-to-cart svg{
      fill: {{ section.settings.add_to_cart_fg_color }};
    }
    {% if section.settings.add_to_cart_scroll_fixed %}

    @media(max-width: 767px) {
      .so-btn-add-to-cart-wrap {
        margin-top: 15px;
      }
      .so-modal-btn-add-to-cart {
        margin-top: 10px;
      }
    }

    @media only screen and (max-width : 768px) {
      .so-upload-button-wrap:not(.fixed),
      .so-product .so-btn-add-to-cart-wrap:not(.fixed) {
        position: relative;
      }
      /* Fixed button for mobile */
      .so-upload-button-wrap.fixed,
      .so-btn-add-to-cart-wrap.fixed {
        position: fixed;
      }
      .so-btn-add-to-cart-wrap.fixed {
        bottom: 0;
        left: 0;
        right: 0;
        top: inherit !important;
        z-index: 1001;
        padding: 15px 30px;
      }
      @media(max-width: 767px) {
        .so-btn-add-to-cart-wrap.fixed {
          background-color: #ffffff;
        }
      }
      .so-btn-add-to-cart-wrap .so-btn-add-to-cart {
        border-radius: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 22px;
        position: relative;
      }
      .so-btn-add-to-cart-vanity-copy {
        position: relative;
        top: 2px;
        font-weight: bold;
        letter-spacing: 0.15rem;
        font-family: Raleway, "Avenir Next Rounded", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .footer-sec {
        padding-bottom: 44px;
      }
    }
    {% endif %}

    .so-custom-field-wrap .so-custom-field-birthstone-label.so-custom-field-birthstone-selected {
      border-color: {{ section.settings.option_birthstone_border_color }};
    }

    /**** Sweetest Hearts Necklace ****/
    @media(min-width: 992px) {
      .so-product .so-product-heart-variants .so-swatch-metal-picker {
        margin-bottom: 28px;
      }
    }
    @media (min-width: 768px) {
      .so-product .so-heart-metal label {
        padding: 13px 10px !important;
        font-size: 14px;
      }
    }
    .so-product .so-heart-metal .so-swatch {
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      .so-product .so-heart-metal .so-swatch {
        font-size: 15px;
      }
    }
    .so-product .so-heart-metal .so-swatch:hover {
      cursor: pointer;
    }
    .so-product .select-engraving {
      border-radius: 3px;
    }
    .so-product .select-engraving .selector-wrap-triangle-down {
      position: relative;
    }
    .so-product .select-engraving .selector-wrap-triangle-down:after {
      position: absolute;
      content: "";
      right: 20px;
      top: 20px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 6px;
      border-right-width: 6px;
      border-top: 7px solid #444444;
    }
    .so-product .select-engraving .so-variant-selector {
      width: 100%;
      border: 1px solid #e2e2e2 !important;
      background-image: none;
      padding: 13px 25px;
      height: auto;
    }
    .so-product .select-engraving .so-variant-selector:focus {
      outline-color: {{ section.settings.option_border_color }} !important;
    }
    .so-product .so-product-heart-variants input[type="text"].so-input-heart,
    .quiantity-swatch {
      border: 1px solid #e2e2e2;
      padding: 12px 25px;
      height: auto;
      background-color: #fff !important;
    }
    .so-product .so-product-heart-variants input[type="text"].so-input-heart.so-text-left {
      text-align: left;
    }
    .so-product .select-engraving .so-custom-field-wrap {
      margin-top: 10px;
    }
    .so-product .select-engraving label {
      font-size: 13px;
      margin-bottom: 3px;
    }
    .so-product .so-heart-metal .so-swatch .so-translation-with-metal {
      display: flex !important;
      align-items: center;
    }
    .so-product .so-heart-metal .so-swatch .so-translation-with-metal span {
      line-height: 1.5 !important;
    }
    .so-product .so-heart-metal .so-swatch .metal {
      border: 4px solid #fff;
      border-radius: 100%;
      box-shadow: 0px 4px 4px #D2DBE8;
      display: inline-block;
      width: 30px;
      flex: 0 0 30px;
      height: 30px;
      margin-right: 15px;
    }
    .so-product .so-heart-metal .so-swatch .metal.gold {
      background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 20%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 100%);
    }
    .so-product .so-heart-metal .so-swatch .metal.silver{
      background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
    }
    .quantity-selector-swatches {
      display: flex;
      justify-content: space-between;
      margin-right: -7px;
    }
    @media(min-width: 768px) and (max-width: 991px) {
      .quantity-selector-swatches {
        flex-wrap: wrap;
      }
      .quiantity-swatch:not(last-of-type) {
        margin-bottom: 7px;
      }
    }
    .quiantity-swatch.so-active-metal {
      border-color: {{ section.settings.option_border_color }};
    }
    .quiantity-swatch {
      flex: 1 1 33.333%;
      margin-right: 7px;
      text-align: center;
    }
    @media(max-width: 767px) {
      .quiantity-swatch {
        word-spacing: 100px;
      }
    }
    .quiantity-swatch:hover {
      cursor: pointer;
    }

    {% if section.settings.swh_styling == 'modern' %}
    .so-product .so-product-heart-variants .so-field-wrap.so-swatch-metal-picker {
      margin-right: -10px;
    }
    @media (min-width: 768px) {
      .so-product .so-heart-metal label {
        padding: 13px 10px !important;
      }
    }
    .so-product .so-heart-metal,
    .quiantity-swatch,
    .so-product .so-product-heart-variants input[type="text"].so-input-heart,
    .so-product .select-engraving .so-variant-selector { 
      border-radius: {{ section.settings.swh_option_border_radius }}px !important; 
    } 
    {% assign swh_option_box_shadow = section.settings.swh_option_border_color | color_modify: 'alpha', 0.5 %}
    .quiantity-swatch.so-active-metal,
    .so-product .so-heart-metal.so-active-metal {
      box-shadow: 0px 0px 5px {{ swh_option_box_shadow }};
    }
    .quiantity-swatch.so-active-metal,
    .so-product .so-heart-metal.so-active-metal,
    .so-product .so-heart-metal.so-active-metal label.so-swatch {
      border-color: {{ section.settings.swh_option_border_color }} !important; 
    }
    .so-product .so-field-wrap.so-custom-property-flex-wrap>div {
      -webkit-flex: 1 1 49%;
      -ms-flex: 1 1 49%;
      flex: 1 1 49%;
      margin-right: 10px;
    }
      {% if section.settings.swh_bg_swatches != null and section.settings.swh_bg_swatches != '' and section.settings.swh_bg_swatches != 'rgba(0,0,0,0)' %}
      .so-product .select-engraving {
          padding: 20px 14px;
          background-color: {{ section.settings.swh_bg_swatches }};
      }
      {% endif %}
    .so-product .so-product-heart-variants input[type="text"].so-input-heart,
    .so-product .select-engraving .so-variant-selector {
      border: 1px solid #CBD6E6;
    }
    .so-product .so-field-wrap .so-option-fieldset label.so-swatch span {
      font-weight: normal;
    }
    {% else %}
    .so-product .so-field-wrap.so-custom-property-flex-wrap {
      margin-right: -10px;
    }
    .so-product .so-field-wrap.so-custom-property-flex-wrap>div {
      margin-right: 10px;
    }
    .so-product .so-heart-metal .so-swatch .so-translation-with-metal {
      display: flex !important;
    }
    .so-product .so-heart-metal .so-swatch .metal {
      margin-bottom: 8px;
    }
    .quiantity-swatch.so-active-metal {
      border-color: {{ section.settings.option_border_color }};
    }
    {% endif %}
    .so-product .so-heart-metal,
    .so-product .so-variant-change-metal.so-heart-metal label.so-swatch { 
      border-radius: {{ section.settings.swh_option_border_radius }}px !important; 
    }
    {% if section.settings.swh_option_border_radius > 1 %}
    .so-product .so-variant-change-metal.so-heart-metal.so-active-metal label.so-swatch { 
      border-radius: {{ section.settings.swh_option_border_radius | minus: 1 }}px !important; 
    }
    {% endif %}
    .so-product .so-heart-metal.so-active-metal,
    .so-product .so-heart-metal.so-active-metal label.so-swatch {
      border-color: {{ section.settings.swh_option_border_color }} !important; 
    }

    /**** /. Sweetest Hearts Necklace ****/

    .so-product-price-bu-step-1 {
      display: none !important;
    }
    body.so-step-1 .so-product-price-bu-step-1 {
      display: block !important;
    }
    body.so-step-1 #so-bu-upload-button {
      margin-top: 20px;
    }

    {{ section.settings.custom_css }}
  </style>
{% endif %}

{% stylesheet 'scss' %}
{% endstylesheet %}

{% javascript %}{% endjavascript %}

{% schema %}
{
  "name": "Shineon Default + BU",
  "settings": [
    {
      "type": "header",
      "content": "Language \/ Copy",
      "info": "All copy (text & labels) may now be changed in Shopify's Language admin. See Theme actions > Edit Languages > Sections > Product-template-shineon > [Keyword Here]. We now support multiple languages!"
    },
    {
      "type": "header",
      "content": "Upsell Engraving > Form Modal"
    },
    {
      "type": "range",
      "id": "modal_engraving_savings_percentage",
      "label": "Upsell Engraving Savings",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "info": "The percentage amount of savings visible to your customer. Configuring 0 will hide savings content altogether."
    },
    {
      "type": "range",
      "id": "modal_gold_savings_percentage",
      "label": "Upsell Savings Percentage",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "info": "The amount of savings visible to your customer. Configuring 0 will hide savings content altogether."
    },
    {
      "type": "color",
      "id": "modal_red_color",
      "label": "BU > Modal Annotations Color",
      "default": "#d74d4d"
    },
    {
      "type": "header",
      "content": "Banner Image",
      "info": "Consider a banner image above your product to define your niche."
    },
    {
      "type": "image_picker",
      "id": "banner_top",
      "label": "Banner Top (optional)",
      "info": "An optional responsive and centered image above your product listings."
    },
    {
      "type": "range",
      "id": "banner_top_max_width",
      "label": "Banner Top Max Width",
      "default": 3000,
      "min": 100,
      "max": 3000,
      "step": 100,
      "info": "The max width on the responsive banner image."
    },
    {
      "type": "header",
      "content": "Page global"
    },
    {
      "type": "color",
      "id": "page_bg",
      "label": "Page Background Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Gallery Options"
    },
    {
      "type": "radio",
      "id": "image_thumbnails",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "all",
          "label": "Desktop & Mobile"
        }
      ],
      "label": "Image Thumbnails",
      "default": "all"
    },
    {
      "type": "range",
      "id": "image_slides",
      "label": "Image Thumbnails",
      "default": 5,
      "min": 3,
      "max": 12,
      "step": 1,
      "info": "Image Thumbnail Limit"
    },
    {
      "type": "checkbox",
      "id": "image_dots",
      "label": "Featured Image Show Dots",
      "default": true,
      "info": "Show dots below the featured image to switch between images."
    },
    {
      "type": "radio",
      "id": "image_dots_devices",
      "label": "Dots on devices:",
      "options": [
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "all",
          "label": "Desktop & Mobile"
        }
      ],
      "default": "all"
    },
    {
      "type": "checkbox",
      "id": "image_zoom",
      "label": "Featured Image Zoom",
      "info": "Zoom-in when hovering featured image.",
      "default": false
    },
    {
      "type": "header",
      "content": "Badges"
    },
    {
      "type": "color",
      "id": "color_badges_bg",
      "label": "Badges Color bg",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_badges_text",
      "label": "Badges Color text",
      "default": "#1A2A47"
    },
    {
      "type": "checkbox",
      "id": "show_bestseller",
      "label": "Show",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_bestseller_reverse",
      "label": "Color reverse",
      "default": false
    },
    {
      "type": "text",
      "id": "badge_bestseller_text",
      "label": "Bestseller badge text",
      "default": "Bestseller"
    },
    {
      "type": "checkbox",
      "id": "show_ship_from_usa",
      "label": "Show",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_ship_from_usa_reverse",
      "label": "Color reverse",
      "default": false
    },
    {
      "type": "text",
      "id": "badge_ship_from_usa_text",
      "label": "Ship from USA(temporarily disabled)",
      "default": "Ship from USA"
    },
    {
      "type": "checkbox",
      "id": "show_made_in_usa",
      "label": "Show",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_made_in_usa_reverse",
      "label": "Color reverse",
      "default": false
    },
    {
      "type": "text",
      "id": "badge_made_in_usa_text",
      "label": "Made in USA(temporarily disabled)",
      "default": "Made in USA"
    },
    {
      "type": "header",
      "content": "Form > Style",
      "info": "Customize the look and feel of your product form. PRO-TIP: Choose a set of options that keeps your ATC Button visible when the page loads. [Learn more about conversion optimizing your theme](http:\/\/help.shineon.com\/the-shineon-product-page-and-your-theme)."
    },
    {
      "type": "text",
      "id": "reviews_see_below",
      "label": "See reviews below",
      "default": "(see reviews below)"
    },
    {
      "type": "color",
      "id": "product_title_color",
      "label": "Product Title Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "product_title_size",
      "label": "Title Font Size (px)",
      "default": 30,
      "min": 14,
      "max": 72,
      "step": 1,
      "info": "The font size of the product title."
    },
    {
      "type": "select",
      "id": "product_title_font_style",
      "label": "Product Title Font Style",
      "options": [
        {
          "value": "300",
          "label": "Lighter",
          "group": "Font Style"
        },
        {
          "value": "400",
          "label": "Normal",
          "group": "Font Style"
        },
        {
          "value": "600",
          "label": "Bold",
          "group": "Font Style"
        },
        {
          "value": "700",
          "label": "Bolder",
          "group": "Font Style"
        }
      ],
      "default": "400"
    },
    {
      "type": "color",
      "id": "product_price_color",
      "label": "Product Price Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "variant_price_size",
      "label": "Price Font Size (px)",
      "default": 25,
      "min": 14,
      "max": 72,
      "step": 1,
      "info": "Make sure your price is clearly readable to your audience."
    },
    {
      "type": "select",
      "id": "product_price_font_style",
      "label": "Product Price Font Style",
      "options": [
        {
          "value": "300",
          "label": "Lighter",
          "group": "Font Style"
        },
        {
          "value": "400",
          "label": "Normal",
          "group": "Font Style"
        },
        {
          "value": "600",
          "label": "Bold",
          "group": "Font Style"
        },
        {
          "value": "700",
          "label": "Bolder",
          "group": "Font Style"
        }
      ],
      "default": "400"
    },
    {
      "type": "color",
      "id": "product_c_price_color",
      "label": "Product Compare At Price Color",
      "default": "#bfbfbf"
    },
    {
      "type": "select",
      "id": "product_c_price_font_size",
      "label": "Product Compare At Price Font Size",
      "options": [
        {
          "value": "14px",
          "label": "14px"
        },
        {
          "value": "16px",
          "label": "16px"
        },
        {
          "value": "18px",
          "label": "18px"
        },
        {
          "value": "20px",
          "label": "20px"
        },
        {
          "value": "22px",
          "label": "22px"
        },
        {
          "value": "24px",
          "label": "24px"
        },
        {
          "value": "25px",
          "label": "25px"
        },
        {
          "value": "26px",
          "label": "26px"
        },
        {
          "value": "28px",
          "label": "28px"
        },
        {
          "value": "30px",
          "label": "30px"
        }
      ],
      "default": "18px"
    },
    {
      "type": "select",
      "id": "product_c_price_font_style",
      "label": "Product Compare At Price Font Style",
      "options": [
        {
          "value": "300",
          "label": "Lighter",
          "group": "Font Style"
        },
        {
          "value": "400",
          "label": "Normal",
          "group": "Font Style"
        },
        {
          "value": "600",
          "label": "Bold",
          "group": "Font Style"
        },
        {
          "value": "700",
          "label": "Bolder",
          "group": "Font Style"
        }
      ],
      "default": "400"
    },
    {
      "type": "color",
      "id": "product_price_save",
      "label": "Product Price Savings Color",
      "default": "#40ac14"
    },
    {
      "type": "select",
      "id": "product_price_save_size",
      "label": "Product Save Font Size",
      "options": [
        {
          "value": "12px",
          "label": "12px"
        },
        {
          "value": "13px",
          "label": "13px"
        },
        {
          "value": "14px",
          "label": "14px"
        },
        {
          "value": "15px",
          "label": "15px"
        },
        {
          "value": "16px",
          "label": "16px"
        },
        {
          "value": "17px",
          "label": "17px"
        },
        {
          "value": "18px",
          "label": "18px"
        }
      ],
      "default": "14px"
    },
    {
      "type": "select",
      "id": "product_tabs_font_size",
      "label": "Product Tabs Font Size",
      "options": [
        {
          "value": "15px",
          "label": "15px"
        },
        {
          "value": "16px",
          "label": "16px"
        },
        {
          "value": "17px",
          "label": "17px"
        },
        {
          "value": "18px",
          "label": "18px"
        },
        {
          "value": "19px",
          "label": "19px"
        },
        {
          "value": "20px",
          "label": "20px"
        },
        {
          "value": "21px",
          "label": "21px"
        },
        {
          "value": "22px",
          "label": "22px"
        },
        {
          "value": "24px",
          "label": "24px"
        },
        {
          "value": "25px",
          "label": "25px"
        },
        {
          "value": "26px",
          "label": "26px"
        },
        {
          "value": "28px",
          "label": "28px"
        },
        {
          "value": "30px",
          "label": "30px"
        }
      ],
      "default": "25px"
    },
    {
      "type": "checkbox",
      "id": "variant_price_show_compare_at",
      "label": "Show \"Compare At\" Price",
      "info": "Show the variant's compare at pricing right of the actual price.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "variant_price_show_savings",
      "label": "Show \"Compare At\" Savings",
      "info": "Show the variant's compare at savings pricing right of the actual price.",
      "default": true
    },
    {
      "type": "header",
      "content": "Form > Option Selectors"
    },
    {
      "type": "range",
      "id": "option_border_radius",
      "label": "Border Radius",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "option_border_color",
      "label": "Border Color",
      "default": "#00B70F"
    },
    {
      "type": "radio",
      "id": "option1_selection",
      "label": "Option 1 Selection",
      "options": [
        {
          "value": "swatches",
          "label": "Swatches"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "hidden",
          "label": "Hide (DEPRECATED. WILL BE REMOVED IN NEXT RELEASE)"
        }
      ],
      "info": "Hide (only show first style) is recommended, less options (just keep the upsells visible) converts better. However, you may use a \"Choose Style\" selector to appear as swatches.",
      "default": "swatches"
    },
    {
      "type": "radio",
      "id": "option2_selection",
      "label": "Option 2 Selection (engraving)",
      "options": [
        {
          "value": "show_yes_no",
          "label": "Show Yes / No Buttons"
        },
        {
          "value": "show_inputs_only",
          "label": "Hide Yes / No Buttons. Show Text Inputs Only"
        }
      ],
      "info": "We recommend hiding the Yes / No buttons. Engraving will automatically be added to the item when the buyer adds content.",
      "default": "show_inputs_only"
    },
    {
      "type": "checkbox",
      "id": "option1_metal_swatches",
      "label": "Use Swatches for Metal",
      "info": "Use gold \/ silver color swatches where applicable.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "copy_option_numbers",
      "label": "Number Options(DEPRECATED)",
      "info": "Each option type will be numbered to assist the user stepping through their order (hidden automatically when 2 options or less).",
      "default": false
    },
    {
      "type": "header",
      "content": "Form > Ring Products"
    },
    {
      "type": "checkbox",
      "id": "ring_size_finder_show",
      "label": "Show Size Finder",
      "info": "You may hide the \"Find Size\" button function.",
      "default": true
    },
    {
      "type": "text",
      "id": "ring_size_finder_client",
      "label": "FindMyRingSize.com Branding",
      "info": "You may choose use your own findmyringsize.com account for custom branding your ring size finder.",
      "default": "shineonjewelry",
      "placeholder": "shineonjewelry"
    },
    {
      "type": "header",
      "content": "Form > Sweetest Hearts"
    },
    {
      "type": "radio",
      "id": "swh_styling",
      "label": "Sweetest Hearts design",
      "options": [
        {
          "value": "regular",
          "label": "Regular"
        },
        {
          "value": "modern",
          "label": "Modern"
        }
      ],
      "default": "regular"
    },
    {
      "type": "color",
      "id": "swh_bg_swatches",
      "label": "Sweetest Hearts Background Color",
      "info": "Background color will be added for Modern Sweetest Hearts design",
      "default": "#EFF6F9"
    },
    {
      "type": "color",
      "id": "swh_option_border_color",
      "label": "Sweetest Hearts Border Color",
      "default": "#00b70f"
    },
    {
      "type": "range",
      "id": "swh_option_border_radius",
      "label": "Sweetest Hearts Border Radius",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Form > Birthstone Products"
    },
    {
      "type": "color",
      "id": "option_birthstone_border_color",
      "label": "Birthstone border Color",
      "default": "#d3a841"
    },
    {
      "type": "radio",
      "id": "birthstone_style_selector",
      "label": "Birthstone Selector Style",
      "options": [
        {
          "value": "all",
          "label": "Show All"
        },
        {
          "value": "no-months",
          "label": "Hide Months"
        },
        {
          "value": "no-stones",
          "label": "Hide Stones"
        }
      ],
      "info": "Choose what to show in birthstone selector.",
      "default": "all"
    },
    {
      "type": "header",
      "content": "Form > Quantity & ATC"
    },
    {
      "type": "radio",
      "id": "quantity_selector",
      "label": "Show Quantity selector",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "below_price",
          "label": "Below Price"
        },
        {
          "value": "button_top",
          "label": "Above \"Add to cart\" Button"
        }
      ],
      "info": "Optionally include a quantity selector.",
      "default": "hidden"
    },
    {
      "type": "color",
      "id": "add_to_cart_bg_color",
      "label": "Background Color",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "add_to_cart_shadow",
      "label": "Add ATC Shadow",
      "default": true
    },
    {
      "type": "color",
      "id": "add_to_cart_fg_color",
      "label": "Add to cart (text color)",
      "info": "Change the text color.",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "add_to_cart_font_size_range",
      "label": "ATC Font Size (px)",
      "default": 20,
      "min": 10,
      "max": 40,
      "step": 2,
      "info": "The font size of Add To Cart button text."
    },
    {
      "type": "select",
      "id": "add_to_cart_font_style",
      "label": "Font Style",
      "options": [
        {
          "value": "300",
          "label": "Lighter",
          "group": "Font Style"
        },
        {
          "value": "400",
          "label": "Normal",
          "group": "Font Style"
        },
        {
          "value": "600",
          "label": "Bold",
          "group": "Font Style"
        },
        {
          "value": "700",
          "label": "Bolder",
          "group": "Font Style"
        }
      ],
      "default": "600"
    },
    {
      "type": "checkbox",
      "id": "add_to_cart_scroll_fixed",
      "label": "Button Fixed On Scroll (mobile)",
      "info": "On mobile, the action buttons (upload, confirm, add to cart) will be fixed to the bottom after the buyer scrolls past them.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "add_to_cart_append_line_item_subtotal",
      "label": "Pre-pend item subtotal to ATC Button.",
      "info": "Research has proven that appending the price to the Add to Cart button has increased conversation rates.",
      "default": false
    },
    {
      "type": "header",
      "content": "Add to Cart Action"
    },
    {
      "type": "checkbox",
      "id": "use_shineon_cart_page_eng",
      "label": "Use ShineOn Cart Page For Engraving Products",
      "default": true,
      "info": "Use the ShineOn Custom Cart Page also for engraving products."
    },
    {
      "type": "checkbox",
      "id": "use_shineon_cart_page_bu",
      "label": "Use ShineOn Cart Page For Buyer Upload Products",
      "default": true,
      "info": "We highly recommend the ShineOn Cart Page for BU (Buyer Upload) products. This page will display the render image the buyer created in their cart and hide ugly metadata."
    },
    {
      "type": "checkbox",
      "id": "express_checkout",
      "label": "Express Checkout",
      "default": false,
      "info": "Skip cart page, buyer will go straight to checkout. If checked the 2 options above will be ignored."
    },
    {
      "type": "header",
      "content": "Informations Alert"
    },
    {
      "type": "checkbox",
      "id": "informations_alert_enable",
      "label": "Enable Informations Alert",
      "default": true
    },
    {
      "type": "text",
      "id": "almost_gone_max_value",
      "label": "Max value for product left",
      "default": "27"
    },
    {
      "type": "text",
      "id": "almost_gone_interval",
      "label": "Interval of buying",
      "default": "60",
      "info": "Must be added in seconds"
    },
    {
      "type": "color",
      "id": "informations_alert_highlighted_color",
      "label": "Highlighted Text and Border Color",
      "default": "#FF5F01"
    },
    {
      "type": "color",
      "id": "informations_alert_highlighted_bg",
      "label": "Highlighted Background Color",
      "default": "#fff2eb"
    },
    {
      "type": "richtext",
      "id": "almost_gone_text",
      "label": "Hurry Text",
      "default": "<p>Hurry! We Sell Out Frequently</p>"
    },
    {
      "type": "header",
      "content": "Form > Payment Options"
    },
    {
      "type": "checkbox",
      "id": "payment_options",
      "label": "Show Payment Options",
      "default": false,
      "info": "Show the payment options image below the add to cart button."
    },
    {
      "type": "paragraph",
      "content": "Select which payment options:"
    },
    {
      "type": "checkbox",
      "id": "payment_option_visa",
      "label": "VISA",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_option_master",
      "label": "Mastercard",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_option_american_express",
      "label": "AMEX",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_option_discover",
      "label": "Discover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_option_apple_pay",
      "label": "ApplePay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_option_amazon",
      "label": "AmazonPay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_option_paypal",
      "label": "PayPal",
      "default": true
    },
    {
      "type": "header",
      "content": "Buyer Uploads (BU)",
      "info": "Customize the look and feel of the upload step and image renders for your Buyer Upload products."
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "BU > Primary Color",
      "default": "#00b70f"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "BU > Secondary Color",
      "default": "#f3f3f3"
    },
    {
      "type": "color",
      "id": "upload_button_text_color",
      "label": "BU > Upload Button > Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "upload_button_bg_color",
      "label": "BU > Upload Button > Background Color",
      "default": "#0088EE"
    },
    {
      "type": "checkbox",
      "id": "bu_show_progress_steps_bar",
      "label": "Show Progress Steps Bar",
      "default": true
    },
    {
      "type": "color",
      "id": "bu_progress_active_bg_color",
      "label": "BU > Steps > Active BG Color",
      "default": "#25637B"
    },
    {
      "type": "color",
      "id": "bu_progress_active_text_color",
      "label": "BU > Steps > Active Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bu_progress_unactive_bg_color",
      "label": "BU > Steps > Unactive BG Color",
      "default": "#dddddd"
    },
    {
      "type": "color",
      "id": "bu_progress_unactive_text_color",
      "label": "BU > Steps > Unactive Text Color",
      "default": "#333333"
    },
    {
      "type": "radio",
      "id": "image_bg_mode",
      "label": "BU > Render Background",
      "options": [
        {
          "value": "img_src",
          "label": "Light"
        },
        {
          "value": "img_dark_src",
          "label": "Dark"
        }
      ],
      "info": "The background color for image renders for Buyer Upload products. Make sure you publish the corresponding images in the app too!",
      "default": "img_src"
    },
    {
      "type": "html",
      "id": "content_below_upload_step",
      "label": "BU > Supplemental Description",
      "default": "<br><strong>Description</strong><p>Surprise someone you love with this unique and elegant jewelry item .</p><p>We say \"UNIQUE\" because each piece is different when you provide your photo.</p><p>This hand-crafted piece will never fade and is built to last!</p><br><strong>Specifics</strong><p>Made in the U.S.A<br>316 Steel or 18k Gold Finish<br>Adjustable Necklace Chain Measures 18\"-22\"<br>Water-Resistant</p><br><strong>Delivery</strong><p>Each piece is 100% custom hand-made to order in only 3-5 business days!</p>"
    },
    {
      "type": "richtext",
      "id": "bu_below_image",
      "label": "Copies below uploaded Image",
      "default": "<p><strong>Please Make Sure Your Image Displays Correctly<\/strong><strong><br><\/strong>Use The Magnifying Glasses ([zoom_in] [zoom_out]) To Zoom In and Out<br>Use The Arrows ([arrow_left] [arrow_right] [arrow_up] [arrow_bottom]) To Move Image Left, Right, Up, and Down<\/p>\n<p>Use Rotation Tool ([rotate_left] [rotate_right]) To Rotate Your Image<\/p>"
    },
    {
      "type": "header",
      "content": "Description \/ Delivery"
    },
    {
      "type": "checkbox",
      "id": "show_about_us_review_list",
      "label": "Show About Us Review List",
      "default": false,
      "info": "If you want to add custom review please use Add Review Item at the bottom of the settings"
    },
    {
      "type": "radio",
      "id": "product_info_disposition",
      "options": [
        {
          "value": "tabs",
          "label": "Tabs"
        },
        {
          "value": "combined",
          "label": "Combined"
        }
      ],
      "label": "Product Info Position",
      "info": "Selection works if Show About Us Review List checked",
      "default": "tabs"
    },
    {
      "type": "radio",
      "id": "content_disposition",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "left_side",
          "label": "Left Side"
        },
        {
          "value": "right_side_expanded",
          "label": "Right Side (expanded)"
        },
        {
          "value": "right_side_collapsed",
          "label": "Right Side (collapsed)"
        }
      ],
      "label": "Product Description",
      "default": "left_side"
    },
    {
      "type": "html",
      "id": "copy_delivery_details",
      "label": "Delivery Details",
      "default": "<p style='text-align: center; color: #FF5F01; font-weight: bold;'>We've adjusted our estimates below based on the latest information from our carriers.</p><p>Once shipped, delivery within:</p><p> [usa_delivery_info]</p><p> [canada_delivery_info]</p><p> [eu_delivery_info]</p><p> [international_delivery_info]</p><p> All orders ship with Love from New Jersey &amp; Florida, USA</p>",
      "info": "Copy for the delivery details in the description tab system. Any delivery zone can be added to text by using [xxxx_delivery_info]. Available zones: usa, canada, eu, international"
    },
    {
      "type": "html",
      "id": "usa_copy_delivery_details",
      "label": "USA Delivery Details \/ [usa_delivery_info]",
      "default": "<b>USA:</b> 2-8 Business Days"
    },
    {
      "type": "html",
      "id": "canada_copy_delivery_details",
      "label": "Canada Delivery Details \/ [canada_delivery_info]",
      "default": "<b>Canada:</b> 3-12 Business Days"
    },
    {
      "type": "html",
      "id": "eu_copy_delivery_details",
      "label": "EU Delivery Details \/ [eu_delivery_info]",
      "default": "<b>Europe:</b> 3-12 Business Days"
    },
    {
      "type": "html",
      "id": "international_copy_delivery_details",
      "label": "International Delivery Details \/ [international_delivery_info]",
      "default": "<b>International:</b> 5-14 Business Days"
    },
    {
      "type": "header",
      "content": "Form > USPs for Product"
    },
    {
      "type": "html",
      "id": "product_usps",
      "label": "USPs text",
      "default": "<li><span>Unique, one-of-a-kind gift<\/span><\/li><li><span>NOT SOLD in stores<\/span><\/li><li><span>[usa_delivery_info]<\/span><\/li>",
      "info": "This block should conatins text within html tags. Any delivery zone can be added to text by using [xxxx_delivery_info]. Available zones: usa, canada, eu, international"
    },
    {
      "type": "header",
      "content": "Tag Switches"
    },
    {
      "type": "text",
      "id": "tag_switch_delayed",
      "label": "DELAYED Tag Switch",
      "info": "If this product have this switch delivery info will be DELAYED as below",
      "default": "delayed"
    },
    {
      "type": "html",
      "id": "copy_delivery_details_delayed",
      "label": "DELAYED Delivery Details",
      "info": "Any delivery zone can be added to text by using [xxxx_delivery_info]. Available zones: usa, canada, eu, international"
    },
    {
      "type": "header",
      "content": "Reasons to buy"
    },
    {
      "type": "checkbox",
      "id": "show_badges_as_section",
      "label": "Show Trust Section on Page",
      "default": true
    },
    {
      "type": "radio",
      "id": "trust_section_type",
      "label": "Trust Section type",
      "options": [
        {
          "value": "badges",
          "label": "Badges"
        },
        {
          "value": "single_image",
          "label": "Single Image"
        }
      ],
      "default": "badges"
    },
    {
      "type": "paragraph",
      "content": "-----------------------------"
    },
    {
      "type": "paragraph",
      "content": "TRUST SECTION AS SINGLE IMAGE"
    },
    {
      "type": "image_picker",
      "id": "trust_section_single_image",
      "label": "Trust Single Image",
      "info": "Recommended width of uploaded image is 400px"
    },
    {
      "type": "paragraph",
      "content": "-----------------------------"
    },
    {
      "type": "paragraph",
      "content": "TRUST SECTION AS BADGES"
    },
    {
      "type": "textarea",
      "id": "badges_title",
      "label": "Heading",
      "default": "[reason_counter] great reasons to buy from us"
    },
    {
      "type": "image_picker",
      "id": "badge_img_1",
      "label": "Badge 1"
    },
    {
      "type": "image_picker",
      "id": "badge_img_2",
      "label": "Badge 2"
    },
    {
      "type": "image_picker",
      "id": "badge_img_3",
      "label": "Badge 3"
    },
    {
      "type": "image_picker",
      "id": "badge_img_4",
      "label": "Badge 4"
    },
    {
      "type": "image_picker",
      "id": "badge_img_5",
      "label": "Badge 5"
    },
    {
      "type": "image_picker",
      "id": "badge_img_6",
      "label": "Badge 6"
    },
    {
      "type": "html",
      "id": "snippet_below_trust_section",
      "label": "Below Trust Section",
      "info": "Content below the product trust section."
    },
    {
      "type": "header",
      "content": "ADVANCED",
      "info": "Add content on left or right. Proceed with caution, always test your changes :) Need custom styling? help.shineon.com\/selling-tools\/product-pages-custom-styling"
    },
    {
      "type": "html",
      "id": "content_left",
      "label": "Additional Content (left)",
      "info": "(optional) Content to place on the bottom left side.",
      "placeholder": "<style><\/style>\n<p><\/p>"
    },
    {
      "type": "html",
      "id": "content_right",
      "label": "Additional Content (right)",
      "info": "(optional) Content to place on the bottom right side.",
      "placeholder": "<style><\/style>\n<p><\/p>"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "Custom CSS (deprecated)",
      "info": "(deprecated) Please move any custom CSS to a <style><\/style> tag in content_left or content_right. This option will be removed to a later update."
    },
    {
      "type": "text",
      "id": "css_container_class",
      "label": "Product container CSS class.",
      "info": "(optional) Specifying a container class may be necessary for positioning product content below your header."
    },
    {
      "type": "text",
      "id": "container_margin_top",
      "label": "Product container CSS margin",
      "info": "(optional) If your product content is not positioned correctly, specifying a valid container class is recommended. But you may also set a margin manually. ex. \"50px auto\"",
      "placeholder": "50px"
    },
    {
      "type": "header",
      "content": "SNIPPETS",
      "info": "You may want to add snippets in various areas. Here is your chance. Psst... Don't be crazy, you **CANNOT** paste in liquid code."
    },
    {
      "type": "html",
      "id": "snippet_below_title",
      "label": "Below Title",
        "info": "Content below the product title."
    },
    {
      "type": "html",
      "id": "snippet_below_pricing",
      "label": "Below Pricing",
      "info": "Content below the product pricing."
    },
    {
      "type": "html",
      "id": "snippet_below_options",
      "label": "Below Options",
      "info": "Content below the product form options."
    },
    {
      "type": "html",
      "id": "snippet_below_atc",
      "label": "Below ATC Button",
      "info": "Content below the product ATC button."
    },
    {
      "type": "html",
      "id": "snippet_below_delivery",
      "label": "Below Delivery Times",
      "info": "Content below the product delivery times."
    },
    {
      "type": "html",
      "id": "snippet_below_gallery",
      "label": "Below Gallery",
      "info": "Content below the product gallery (left side)."
    },
    {
      "type": "html",
      "id": "snippet_below_description",
      "label": "Below Description",
      "info": "Content below the product description (left side)."
    },
    {
      "type": "header",
      "content": "Reviews",
      "info": "Custom reviews will be visible if any Review item from below will exist"
    },
    {
      "type": "text",
      "id": "reviews_title",
      "label": "Review title"
    },
    {
      "type": "color",
      "id": "reviews_stars_color",
      "label": "Review star color",
      "default": "#00b679"
    }
  ],
  "blocks": [
    {
      "type": "review_item",
      "name": "Review Item",
      "settings": [
        {
          "type": "text",
          "id": "author",
          "label": "Author Name"
        },
        {
          "type": "range",
          "id": "stars_quantity",
          "label": "Stars rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "html",
          "id": "text",
          "label": "Review text"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "price_label": "Your price:",
      "save_html": "You Save: <strong><span class='saved-amount-money'>{{ saved_amount_money }}</span> (<span class='saved-amount-percent'>{{saved_amount_percent}}</span>%)</strong>",
      "buyer_upload_progress_step1": "Upload Photo",
      "buyer_upload_progress_step2": "Confirm Design",
      "buyer_upload_progress_step3": "Customization",
      "buyer_upload_button_text": "UPLOAD YOUR PHOTO",
      "buyer_upload_button_info_text": "Zoom or Rotate Your Image With Our Tool",
      "buyer_upload_confirm_btn_text": "Confirm design",
      "buyer_upload_mobile_info_drag_or_pinch_msg": "Drag or pinch with fingers to adjust",
      "buyer_upload_btn_upload_new": "Change Image",
      "buyer_upload_btn_confirm_design": "Confirm Design",
      "buyer_upload_btn_uploading_copy": "Uploading your image",
      "purchase_form_copy_compare_at_savings_verb": "Save",
      "purchase_form_copy_option1_label": "Select your style",
      "purchase_form_copy_option1_metal_label": "Select your metal",
      "purchase_form_copy_option1_metal_gold_label": "18K Gold Finish",
      "purchase_form_copy_option1_metal_silver_label": "Silver",
      "purchase_form_copy_option1_metal_stainless_label": "Stainless",
      "purchase_form_engraving_copy_option2_label": "Add Engraving + $15",
      "purchase_form_engraving_copy_option2_label_cross": "Add Engraving + $20",
      "purchase_form_engraving_copy_option2_label_ring": "Add Engraving + $25",
      "purchase_form_engraving_copy_option_yes_label": "Yes",
      "purchase_form_engraving_copy_option_no_label": "No",
      "purchase_form_engraving_copy_line_label": "Engraving Line",
      "purchase_form_engraving_copy_side_label": "Engraving Side",
      "purchase_form_engraving_copy_line1_label": "Engraving Line 1",
      "purchase_form_engraving_copy_line1_placeholder": "Your words here",
      "purchase_form_engraving_copy_line2_label": "Engraving Line 2",
      "purchase_form_engraving_copy_line2_placeholder": "Your words here",
      "purchase_form_engraving_copy_line3_label": "Engraving Line 3",
      "purchase_form_engraving_copy_line3_placeholder": "Your words here",
      "purchase_form_engraving_copy_line4_label": "Engraving Line 4",
      "purchase_form_engraving_copy_line4_placeholder": "Your words here",
      "purchase_form_engraving_copy_line1_label_cross": "FRONT - TWO LETTERS OR #",
      "purchase_form_engraving_copy_line1_placeholder_cross": "",
      "purchase_form_engraving_copy_line2_label_cross": "BACK - UP TO 20 LETTERS OR #",
      "purchase_form_engraving_copy_line2_placeholder_cross": "Your words here",
      "purchase_form_engraving_copy_line1_label_ring": "LEFT SIDE",
      "purchase_form_engraving_copy_line1_placeholder_ring": "Your words here",
      "purchase_form_engraving_copy_line2_label_ring": "RIGHT SIDE",
      "purchase_form_engraving_copy_line2_placeholder_ring": "Your words here",
      "purchase_form_quantity_copy": "Quantity",
      "purchase_form_out_of_stock": "Out of Stock",
      "purchase_form_add_to_cart_text": "Add to cart",
      "purchase_form_add_to_cart_button_text_item_label_singular": "item",
      "purchase_form_add_to_cart_button_text_item_label_plural": "items",
      "purchase_form_description_tab_title": "Information",
      "purchase_form_delivery_tab_title": "Shipping",
      "purchase_form_guarantee_tab_title": "Guarantees",
      "purchase_form_ring_size_choose": "Choose your ring size (US)",
      "purchase_form_ring_size_please_select": "Click here to choose",
      "purchase_form_ring_size_help_link": "#help-me-find-my-ring-size",
      "purchase_form_ring_size_help_copy": "(help me)",
      "purchase_form_ring_size3": "Size 3",
      "purchase_form_ring_size4": "Size 4",
      "purchase_form_ring_size5": "Size 5",
      "purchase_form_ring_size6": "Size 6",
      "purchase_form_ring_size7": "Size 7",
      "purchase_form_ring_size8": "Size 8",
      "purchase_form_ring_size9": "Size 9",
      "purchase_form_ring_size10": "Size 10",
      "purchase_form_ring_size11": "Size 11",
      "purchase_form_ring_size12": "Size 12",
      "purchase_form_ring_size13": "Size 13",
      "purchase_form_ring_atc_choose": "Select Your Size Above",
      "purchase_form_ring_btn_fmrs": "Find size",
      "purchase_form_modal_made_in": "| Made In",
      "purchase_form_modal_added_in_cart": "Added In Cart",
      "purchase_form_modal_callout_primary": "Add a PERSONAL MESSAGE and GOLD FINISH",
      "purchase_form_modal_callout_engraving_primary": "Want to engrave a message on the back?",
      "purchase_form_modal_callout_primary_html": "Add a Mahogany-Style Luxury Gift Box",
      "purchase_form_modal_callout_gold_html": "Upgrade to 18k Gold Finish?",
      "purchase_form_modal_callout_engraving_secondary": "##% Off - One-Time Offer!",
      "purchase_form_modal_callout_gold_primary": "2. 18K Gold Finish",
      "purchase_form_modal_callout_gold_secondary": "##% Off - One-Time Offer!",
      "purchase_form_modal_gold_checkbox": "Add 18K Gold Finish",
      "purchase_form_modal_customize": "Customize Above",
      "purchase_form_modal_then": "Then",
      "purchase_form_modal_proceed": "Proceed",
      "purchase_form_modal_continue_without": "Continue Without Customization",
      "purchase_form_modal_proceed_with_upsell": "YES, I'LL TAKE IT",
      "purchase_form_modal_continue_without_upsell": "No Thanks!",
      "purchase_form_btn_add_to_cart_sold": "Sold Out"
    },
    "fr": {
      "price_label": "Ton prix:",
      "save_html": "Vous sauvegardez: <strong><span class='saved-amount-money'>{{ saved_amount_money }}</span> (<span class='saved-amount-percent'>{{saved_amount_percent}}</span>%)</strong>",
      "buyer_upload_progress_step1": "Tlcharger Photo",
      "buyer_upload_progress_step2": "Confirmer",
      "buyer_upload_progress_step3": "Personnalisation",
      "buyer_upload_button_text": "Tlcharger votre image",
      "buyer_upload_button_info_text": "Zoomez et positionnez l'image grce  l'outil",
      "buyer_upload_confirm_btn_text": "Confirmer l'image",
      "buyer_upload_mobile_info_drag_or_pinch_msg": "Faites glisser ou pincez avec les doigts pour ajuster",
      "buyer_upload_btn_upload_new": "Changer l'image",
      "buyer_upload_btn_confirm_design": "Confirmer votre image",
      "buyer_upload_btn_uploading_copy": "Chargement..",
      "purchase_form_copy_compare_at_savings_verb": "Economisez",
      "purchase_form_copy_option1_label": "Choisissez votre style",
      "purchase_form_copy_option1_metal_label": "Choix du mtal",
      "purchase_form_copy_option1_metal_gold_label": "Plaqu Or 18k",
      "purchase_form_copy_option1_metal_silver_label": "Argent",
      "purchase_form_copy_option1_metal_stainless_label": "Acier inoxydable",
      "purchase_form_engraving_copy_option2_label": "Mot grav + 15",
      "purchase_form_engraving_copy_option2_label_cross": "Mot grav + 20",
      "purchase_form_engraving_copy_option2_label_ring": "Mot grav + 25",
      "purchase_form_engraving_copy_option_yes_label": "Oui",
      "purchase_form_engraving_copy_option_no_label": "Non",
      "purchase_form_engraving_copy_line_label": "Ligne de gravure",
      "purchase_form_engraving_copy_side_label": "Ct gravure",
      "purchase_form_engraving_copy_line1_label": "Gravure Ligne 1",
      "purchase_form_engraving_copy_line1_placeholder": "Votre message ici",
      "purchase_form_engraving_copy_line2_label": "Gravure Ligne 2",
      "purchase_form_engraving_copy_line2_placeholder": "crivez votre message",
      "purchase_form_engraving_copy_line3_label": "Gravure Ligne 3",
      "purchase_form_engraving_copy_line3_placeholder": "Your words here",
      "purchase_form_engraving_copy_line4_label": "Gravure Ligne 4",
      "purchase_form_engraving_copy_line4_placeholder": "Your words here",
      "purchase_form_engraving_copy_line1_label_cross": "Recto - 2 lettres ou chiffres",
      "purchase_form_engraving_copy_line1_placeholder_cross": "",
      "purchase_form_engraving_copy_line2_label_cross": "Verso - jusqu' 20 lettres ou chiffres",
      "purchase_form_engraving_copy_line2_placeholder_cross": "Votre message ici",
      "purchase_form_quantity_copy": "Quantit",
      "purchase_form_out_of_stock": "En rupture de stock",
      "purchase_form_add_to_cart_text": "Ajouter au panier",
      "purchase_form_add_to_cart_button_text_item_label_singular": "article",
      "purchase_form_add_to_cart_button_text_item_label_plural": "articles",
      "purchase_form_description_tab_title": "Description du produit",
      "purchase_form_delivery_tab_title": "Dlai de livraison",
      "purchase_form_guarantee_tab_title": "Garanties",
      "purchase_form_modal_made_in": "| Fabrication",
      "purchase_form_modal_added_in_cart": "Ajout  votre panier",
      "purchase_form_modal_callout_primary": "Ajoutez votre gravure et votre finition or",
      "purchase_form_modal_callout_engraving_primary": "Vous souhaitez graver un message au dos?",
      "purchase_form_modal_callout_primary_html": "Ajouter un coffret cadeau de luxe de style acajou",
      "purchase_form_modal_callout_engraving_secondary": "Rduction de ##% sur un article !",
      "purchase_form_modal_callout_gold_primary": "2. Finition or 18 carats",
      "purchase_form_modal_callout_gold_secondary": "Rduction de ##% sur un article !",
      "purchase_form_modal_gold_checkbox": "Add 18K Gold Finish",
      "purchase_form_modal_customize": "Personnaliser ci-dessus",
      "purchase_form_modal_then": "Alors",
      "purchase_form_modal_proceed": "Validez",
      "purchase_form_modal_continue_without": "Continuer sans personnalisation",
      "purchase_form_modal_proceed_with_upsell": "Oui, je vais le prendre",
      "purchase_form_modal_continue_without_upsell": "Non merci!",
      "purchase_form_btn_add_to_cart_sold": "puis"
    },
    "es": {
      "price_label": "Tu precio:",
      "save_html": "Ahorras: <strong><span class='saved-amount-money'>{{ saved_amount_money }}</span> (<span class='saved-amount-percent'>{{saved_amount_percent}}</span>%)</strong>",
      "buyer_upload_progress_step1": "Subir foto",
      "buyer_upload_progress_step2": "Confirmar",
      "buyer_upload_progress_step3": "Personalizacin",
      "buyer_upload_button_text": "Elige tu imagen",
      "buyer_upload_button_info_text": "Ample o gire su imagen con nuestra herramienta",
      "buyer_upload_confirm_btn_text": "Confirmar Diseo",
      "buyer_upload_mobile_info_drag_or_pinch_msg": "Arrastrar o ajustar con los dedos.",
      "buyer_upload_btn_upload_new": "Cambiar imagen",
      "buyer_upload_btn_confirm_design": "Confirmar Diseo",
      "buyer_upload_btn_uploading_copy": "Cargando tu foto",
      "purchase_form_copy_compare_at_savings_verb": "Ahorra",
      "purchase_form_copy_option1_label": "Selecciona un estilo",
      "purchase_form_copy_option1_metal_label": "Selecciona un metal",
      "purchase_form_copy_option1_metal_gold_label": "Bao de oro 18K",
      "purchase_form_copy_option1_metal_silver_label": "Plata",
      "purchase_form_copy_option1_metal_stainless_label": "Acero",
      "purchase_form_engraving_copy_option2_label": "Aadir grabado en reverso + 15",
      "purchase_form_engraving_copy_option2_label_cross": "Aadir grabado en reverso + 20",
      "purchase_form_engraving_copy_option2_label_ring": "Aadir grabado en reverso + 25",
      "purchase_form_engraving_copy_option_yes_label": "S",
      "purchase_form_engraving_copy_option_no_label": "No",
      "purchase_form_engraving_copy_line_label": "Lnea de grabado",
      "purchase_form_engraving_copy_side_label": "Lado de grabado",
      "purchase_form_engraving_copy_line1_label": "Grabado en 1 Fila",
      "purchase_form_engraving_copy_line1_placeholder": "Escribe aqu tu frase",
      "purchase_form_engraving_copy_line2_label": "Grabado en 2 Fila",
      "purchase_form_engraving_copy_line2_placeholder": "Escribe aqu tu frase",
      "purchase_form_engraving_copy_line3_label": "Grabado en 3 Fila",
      "purchase_form_engraving_copy_line3_placeholder": "Your words here",
      "purchase_form_engraving_copy_line4_label": "Grabado en 4 Fila",
      "purchase_form_engraving_copy_line4_placeholder": "Your words here",
      "purchase_form_engraving_copy_line1_label_cross": "Delantero - 2 letras o nmeros",
      "purchase_form_engraving_copy_line1_placeholder_cross": "",
      "purchase_form_engraving_copy_line2_label_cross": "Reverso - hasta 20 letras o nmeros",
      "purchase_form_engraving_copy_line2_placeholder_cross": "Escribe aqu tu frase",
      "purchase_form_quantity_copy": "Cantidad",
      "purchase_form_out_of_stock": "Agotado",
      "purchase_form_add_to_cart_text": "Aadir a la cesta",
      "purchase_form_add_to_cart_button_text_item_label_singular": "artculo",
      "purchase_form_add_to_cart_button_text_item_label_plural": "artculos",
      "purchase_form_description_tab_title": "Caractersticas",
      "purchase_form_delivery_tab_title": "Plazo de Entrega",
      "purchase_form_guarantee_tab_title": "Garantas",
      "purchase_form_modal_made_in": "| Hecho En",
      "purchase_form_modal_added_in_cart": "Agregado En La Carreta",
      "purchase_form_modal_callout_primary": "Agrega TU MENSAJE PERSONAL y TERMINADO EN ORO",
      "purchase_form_modal_callout_engraving_primary": "Quieres grabar un mensaje en la parte posterior?",
      "purchase_form_modal_callout_primary_html": "Agregue una caja de regalo de lujo estilo caoba",
      "purchase_form_modal_callout_engraving_secondary": "##% de Descuento por Tiempo Limitado!",
      "purchase_form_modal_callout_gold_primary": "2. Terminado en Oro de 18K",
      "purchase_form_modal_callout_gold_secondary": "##% de Descuento por Tiempo Limitado!",
      "purchase_form_modal_gold_checkbox": "Ajouter finition or 18 carats",
      "purchase_form_modal_customize": "Personalizar Arriba",
      "purchase_form_modal_then": "Luego",
      "purchase_form_modal_proceed": "Continua",
      "purchase_form_modal_continue_without": "Continua Sin Personalizar",
      "purchase_form_modal_proceed_with_upsell": "Si, lo tomar",
      "purchase_form_modal_continue_without_upsell": "No, gracias",
      "purchase_form_btn_add_to_cart_sold": "Agotado"
    },
    "de": {
      "price_label": "Dein Preis:",
      "save_html": "Du sparst: <strong><span class='saved-amount-money'>{{ saved_amount_money }}</span> (<span class='saved-amount-percent'>{{saved_amount_percent}}</span>%)</strong>",
      "buyer_upload_progress_step1": "Foto hochladen",
      "buyer_upload_progress_step2": "Design besttigen",
      "buyer_upload_progress_step3": "Anpassung",
      "buyer_upload_button_text": "Dein Foto hochladen",
      "buyer_upload_button_info_text": "Zoomen oder drehen Sie Ihr Bild mit unserem Werkzeug",
      "buyer_upload_confirm_btn_text": "Auswahl besttigen",
      "buyer_upload_mobile_info_drag_or_pinch_msg": "Bild mit den Fingern verschieben und zurechtziehen",
      "buyer_upload_btn_upload_new": "Bild ndern",
      "buyer_upload_btn_confirm_design": "Auswahl besttigen",
      "buyer_upload_btn_uploading_copy": "Hochladen Ihres Bildes",
      "purchase_form_copy_compare_at_savings_verb": "Spare",
      "purchase_form_copy_option1_label": "Whle Deine Produkt",
      "purchase_form_copy_option1_metal_label": "Whle Deine Farbe",
      "purchase_form_copy_option1_metal_gold_label": "18K Gold Appretur",
      "purchase_form_copy_option1_metal_silver_label": "Silber",
      "purchase_form_copy_option1_metal_stainless_label": "Edelstahl",
      "purchase_form_engraving_copy_option2_label": "Gravur hinzufgen + 15",
      "purchase_form_engraving_copy_option2_label_cross": "Gravur hinzufgen + 20",
      "purchase_form_engraving_copy_option2_label_ring": "Gravur hinzufgen + 25",
      "purchase_form_engraving_copy_option_yes_label": "Ja",
      "purchase_form_engraving_copy_option_no_label": "Nein",
      "purchase_form_engraving_copy_line_label": "Gravurlinie",
      "purchase_form_engraving_copy_side_label": "Gravurseite",
      "purchase_form_engraving_copy_line1_label": "Gravur Zeile 1",
      "purchase_form_engraving_copy_line1_placeholder": "Dein Text hier",
      "purchase_form_engraving_copy_line2_label": "Gravur Zeile 2",
      "purchase_form_engraving_copy_line2_placeholder": "Dein Text hier",
      "purchase_form_engraving_copy_line3_label": "Gravur Zeile 3",
      "purchase_form_engraving_copy_line3_placeholder": "Your words here",
      "purchase_form_engraving_copy_line4_label": "Gravur Zeile 4",
      "purchase_form_engraving_copy_line4_placeholder": "Your words here",
      "purchase_form_engraving_copy_line1_label_cross": "Vorderseite - 2 Buchstaben oder Zahlen",
      "purchase_form_engraving_copy_line1_placeholder_cross": "",
      "purchase_form_engraving_copy_line2_label_cross": "Rckseite - bis zu 20 Buchstaben oder Zahlen",
      "purchase_form_engraving_copy_line2_placeholder_cross": "Dein Text hier",
      "purchase_form_quantity_copy": "Menge",
      "purchase_form_out_of_stock": "Nicht vorrttig",
      "purchase_form_add_to_cart_text": "Jetzt Kaufen",
      "purchase_form_add_to_cart_button_text_item_label_singular": "Artikel",
      "purchase_form_add_to_cart_button_text_item_label_plural": "Artikel",
      "purchase_form_description_tab_title": "Produktdetails",
      "purchase_form_delivery_tab_title": "Lieferzeit",
      "purchase_form_guarantee_tab_title": "Garantien",
      "purchase_form_modal_proceed_text": "Aanpassen en Doorgaan",
      "purchase_form_modal_made_in": "| Hergestellt in",
      "purchase_form_modal_added_in_cart": "Im Einkaufswagen",
      "purchase_form_modal_callout_primary": "Personalisieren sie mit einer Gravur und Vergoldung",
      "purchase_form_modal_callout_engraving_primary": "Mchten Sie eine Nachricht auf der Rckseite eingravieren?",
      "purchase_form_modal_callout_primary_html": "Fgen Sie eine Luxus-Geschenkbox im Mahagoni-Stil hinzu",
      "purchase_form_modal_callout_engraving_secondary": "##% Reduktion auf einen Artikel!",
      "purchase_form_modal_callout_gold_primary": "2. 18 Karat Vergoldung",
      "purchase_form_modal_callout_gold_secondary": "##% Rabatt auf einen Artikel!",
      "purchase_form_modal_gold_checkbox": "18 Karat Vergoldung auftragen",
      "purchase_form_modal_customize": "Oben anpassen",
      "purchase_form_modal_then": "Dann",
      "purchase_form_modal_proceed": "Besttigen",
      "purchase_form_modal_continue_without": "Weitergehen ohne Personalisierung",
      "purchase_form_modal_proceed_with_upsell": "Ja, ich werde es nehmen",
      "purchase_form_modal_continue_without_upsell": "Nein Danke!",
      "purchase_form_btn_add_to_cart_sold": "Ausverkauft"
    }
  }
}
{% endschema %}
